<section data-ng-controller="GridController">
	<h1>This is the Grid</h1>
  <button ng-click="getPicsYo()" ng-if="true" type="button">Sync!</button>
  <button ng-click="populateGrid()" ng-if="true" type="button">populate grid</button>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="pic in media">
      <a class="thumbnail" ng-click="showInfoModal(pic)" href="#">
          <img class="img-responsive" src="{{pic.imageThumbnail}}" alt="">
      </a>
    </div>
  </div>
</section>
