<div class="container" data-ng-controller="HeaderController" >
	<!-- Brand Header -->
	<div class="navbar-header">
		<a href="/#!/" class="navbar-brand" data-ng-hide="authentication.user">memento</a>
		<a href="/#!/grid" class="navbar-brand" data-ng-show="authentication.user">memento</a>
	</div>

	<!-- Authentication -->
	<div class="icon nav navbar-nav pull-right" data-ng-hide="authentication.user">
		<a href="/#!/signin" class="btn btn-cta btn-cta-secondary navbar-brand">log in</a>
		<a href="/#!/signup" class="navbar-brand">sign up</a>
	</div>

	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<!-- Dropdown Menu -->
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li>
			<span>
		    <a href="" ng-click="getPicsYo()">
		      <i class="glyphicon glyphicon-cloud-download"></i>
		    </a>
		  </span>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'instagram'">
						<a href="/#!/settings/invitation-code">Invite</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

</div>
