<section data-ng-controller="HomeController">
  <br>
  <br>
  <div class="row">
    <div id="mosaic-1" class="polaroid col-md-4">
      <p>Pax's new shoes, June '15</p>
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11356770_460788250769953_257802551_n.jpg">
    </div>
  </div>

  <div class="row">
    <div id="mosaic-2" class="polaroid col-md-4">
      <p>Pax learning to climb, Feb '15</p>
      <video src="/modules/core/img/brand/pax.MOV" autoplay muted loop></video>
    </div>
  </div>

  <div class="row">
    <div id="mosaic-3" class="polaroid col-md-4">
      <p>Pax reading, Feb '15</p>
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11326381_1465619430429540_431984968_n.jpg"</img>
    </div>
  </div>

</section>