.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar-inverse {
  opacity: 0.5;
}

.stage {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: -50px;
  margin-left: -70px;
}

.stage video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    margin-top: -190px;
}

.index {
  position: absolute;
  margin-left: 60%;
  margin-top: 33%;
  width: 33%;
  font-weight: 100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  font-size: 1.2rem;
}

.index p {
  text-align: right;
  margin-top: 1rem;
  padding-top: 3.5rem;
  margin-bottom: -1.5rem;
}

.index h3 {
  margin-top: -1rem;
}

.instagram-logo {
  width: 15%;
  padding-top: 0.5rem;
}

.icon{
  margin-right:-26.5rem;
}

/*grid*/
.thumbnail-seba {
  display: block;
  padding: 4px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.col-seba{
  width: 150px;
  display: inline-block;
}

.pics-container{
  margin-top: 2%;
  margin-left: 17%;
  max-width: 860px;
}
/*end of grid*/
.imagen{
  width: 100%;
}

.foot-fixed-bottom {
height: 20%;
 bottom: 8px;
 display: block;
 margin-bottom: 0;
 position: fixed;
 z-index: 1030;
}

.memorie-form{
  display: inline-flex;
}

.memorie-area{
  height: 100px;
}
