.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar-inverse .navbar-brand{
  color:#c2d2f0;
}

.navbar-inverse .navbar-nav > li > a {
  color:#c2d2f0;
}

.hr{
  margin-right: 39px;
  width: 260px;
}

/*grid*/
.thumbnail-seba {
  display: block;
  padding: 4px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.col-seba{
  width: 150px;
  display: inline-block;
}

.pics-container{
  margin-top: 2%;
  margin-left: 17%;
  max-width: 860px;
}
/*end of grid*/

/*Modal*/
.imagen{
  width: 100%;
}

.foot-fixed-bottom {
height: 20%;
 bottom: 8px;
 display: block;
 margin-bottom: 0;
 position: fixed;
 z-index: 1030;
}

.memorie-form{
  display: inline-flex;
}

.memorie-area{
  border:none;
  width: 220px;
  height: 100px;
}

.memories-section{
  color:#562A72;
}

.panel{
  border: none;
  width: 90%;
}

.panel-group .panel + .panel{
  margin-top: 0px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}

.avatar{
  margin-top: 13px;
  width: 100%;
  border-radius: 100px;
}

.date {
  position: absolute;
  margin-top: -25px;
  margin-left: 15px;
  font-style: italic;
  color: #c2d2f0;
}

.glyphicon-facetime-video{
  color:#c2d2f0;
}

.glyphicon-cloud-download{
  color: #c2d2f0;
  margin-top: 12px;
  font-size: 23px;
}

.glyphicon-remove{
  color: #c2d2f0;
  font-size: 12px;
}

.user-name{
  color: #c2d2f0;
  margin-top: 30px;
  font-size: 24px;
}

.btn{
  border-radius: 0px;
}

.panel-title{
  font-size: 13px;
  color: #c2d2f0;
}

.delete-btn{
  position: relative;
  float: right;
}

/*LANDING PAGE*/
/* MOSAIC */
#mosaic-1 {
  margin: 0px 0px 0px 100px;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
}

#mosaic-2 {
  margin:-350px 0px 0px 550px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

#mosaic-3{
  margin: -150px 0px 0px 150px; z-index:-300;
}

/* POLAROID */
.polaroid {
  position: relative;
}

.polaroid video {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid img {
  width: 550px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;


  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: 0px;
  padding: 0px 0px 2px 8px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}